{% if not htmx %}{% extends config.FAB_BASE_TEMPLATE %}{% endif %} 

{% block content%}
<div class="panel panel-primary">
    {% if title %}
    <div class="panel-heading">
        <h4 class="panel-title">Available
        <a style="float: right;" class="btn btn-sm btn-default" data-toggle="tooltip" rel="tooltip" title="" data-original-title="View" href="{{url_for('ReportsView.new')}}">
            <i class="fa fa-plus"></i>
            <span class="">Update Latest</span>
        </a>
    </h4>
    </div>
    {% endif %}
    <div class="panel-body">
        <div>
            <div class="table-responsive">
                <table class="table table-bordered table-hover">

                    <thead>
                        <tr>
                            {% for c in ['Version','Created At', 'Upgrade','Message']%}
                            <th>{{c}}</th>
                            {% endfor %}
                        </tr>
                    </thead>

                    <tbody>
                        {% for r in tags %}
                        <tr>
                            <td><a href="{{r.commit.web_url}}">{{r.name}}</a> ({{r.commit.title}})</td>
                            <td>{{r.commit.created_at|utc_to_local}}</td>
                            <td>
                                <form method="POST" action="{{ url_for('server.update',version=r.name) }}" hx-target="body">
                                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                                    <input type="hidden" id="version" name="version" value="{{r.name}}">
                                    <input class="btn btn-primary" type="submit" value="{{_('Upgrade')}}">
                                </form>
                            </td>
                            <td><pre>{{r.commit.message}}</pre></td>
                        </tr>
                        {% endfor %} {# items #}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}