<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <!-- disable favicon.ico request if not set -->
    <link rel="icon" href="{{config.FAVICON|default('data:,')}}" type="image/x-icon">

    <title>Editing {%if page%}{{page.name}}{%endif%}</title>
    <link href="https://unpkg.com/grapesjs/dist/css/grapes.min.css" rel="stylesheet">
    <link href="{{url_for('grapesjs.static',filename='grapesjs-preset-webpage.min.css')}}" rel="stylesheet">
    <!--script src="//feather.aviary.com/imaging/v3/editor.js"></script-->
    <script src="https://static.filestackapi.com/v3/filestack-0.1.10.js"></script>
    <script src="https://unpkg.com/grapesjs"></script>

    <script src="https://unpkg.com/grapesjs-preset-webpage@1.0.1"></script>
    <script src="https://unpkg.com/grapesjs-blocks-basic@1.0.1"></script>
    <script src="https://unpkg.com/grapesjs-plugin-forms@2.0.5"></script>
    <script src="https://unpkg.com/grapesjs-component-countdown@1.0.1"></script>
    <script src="https://unpkg.com/grapesjs-plugin-export@1.0.11"></script>
    <script src="https://unpkg.com/grapesjs-tabs@1.0.6"></script>
    <script src="https://unpkg.com/grapesjs-custom-code@1.0.1"></script>
    <script src="https://unpkg.com/grapesjs-touch@0.1.1"></script>
    <script src="https://unpkg.com/grapesjs-parser-postcss@1.0.1"></script>
    <script src="https://unpkg.com/grapesjs-tooltip@0.1.7"></script>
    <script src="https://unpkg.com/grapesjs-tui-image-editor@0.1.3"></script>
    <script src="https://unpkg.com/grapesjs-typed@1.0.5"></script>
    <script src="https://unpkg.com/grapesjs-style-bg@1.0.5"></script>

    <script src="https://unpkg.com/grapesjs-custom-code"></script>

    <link href="https://unpkg.com/grapesjs-project-manager/dist/grapesjs-project-manager.min.css" rel="stylesheet">
    <script src="https://unpkg.com/grapesjs-project-manager"></script>


    <link href="https://unpkg.com/grapesjs-component-code-editor/dist/grapesjs-component-code-editor.min.css" rel="stylesheet">
    <script src="https://unpkg.com/grapesjs-component-code-editor"></script>
    
    <script src="https://unpkg.com/grapesjs-parser-postcss"></script>

    <style>
        body,
        html {
            height: 100%;
            margin: 0;
        }
    </style>
</head>

<body>

    <div id="gjs" style="height:0px; overflow:hidden">
        {% if page %}
        {{page.html|safe}}
        <style>
        {{page.css|safe}}
        </style>
        {% endif %}
    </div>


    <script type="text/javascript">
        var editor = grapesjs.init({{grapesjs_config|safe}});

        {% include 'grapesjs/editor.js' %}
        
    </script>
    
</body>

</html>