<!DOCTYPE html>
<html>

<head>

    <style>
        .styled-table {
            border-collapse: collapse;
            margin: 25px 0;
            font-size: 0.9em;
            font-family: sans-serif;
            min-width: 400px;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
        }

        .styled-table thead tr {
            background-color: #009879;
            color: #ffffff;
            text-align: left;
        }

        .styled-table th,
        .styled-table td {
            padding: 12px 15px;
        }

        .styled-table tbody tr {
            border-bottom: 1px solid #dddddd;
        }

        .styled-table tbody tr:nth-of-type(even) {
            background-color: #f3f3f3;
        }

        .styled-table tbody tr:last-of-type {
            border-bottom: 2px solid #009879;
        }

        .styled-table tbody tr.active-row {
            font-weight: bold;
            color: #009879;
        }
    </style>
</head>

<body style="height: 100%;">
    <div class="container-fluid h-100">
        <div class="row justify-content-center align-items-center h-100">
            <div style="width: 50%; float: left;">

                <table class="styled-table" style="border:1px solid black;margin-left:auto;margin-right:auto;">
                    <thead>

                        <tr class="active-row">
                            <td>All Services</td>
                            <td>
                                <a href="{{ url_for('zeroconf.clear') }}">Clear This Table!</a>
                            </td>
                            <td>
                                <a href="{{ url_for('zeroconf.show_services') }}">Refresh Data</a>
                            </td>
                            <td>
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <th>Service</th>
                            <th>Address</th>
                            <th>Type</th>
                            <th>Properties</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for s in services %}
                        <tr {% if loop.index0 % 2 %}class="active-row" {% endif %}>
                            <td>{{s.name}}</td>
                            <td><a href="http://{{s.address}}" >{{s.address}}</a></td>
                            <td>{{s.type_}}</td>
                            <td>{{s.properties}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>

            </div>
            <div style="width: 50%; float: left;">
            {% from 'sse/table.html' import sse_table %}
            {{ sse_table() }}
            </div>
        </div>
    </div>

</body>

</html>
