{% extends "appbuilder/baselayout.html" %}


{% block head_css %}
    <!-- disable favicon.ico request if not set -->
    <link rel="icon" href="{{config.FAVICON|default('data:,')}}" type="image/x-icon">

    {{ super() }}
    <style>
        body {
            font-size: 1.5vw;
        }
        .btn-sm {
            padding: 10px 20px;
            font-size: 20px;
        }
        .panel-title {
            font-size: 2.5vw;
        }
    </style>
{% endblock %}

{% block messages %}
{{super()}}
{% endblock messages %}

{% block content %}
{{content|safe}}
{% endblock %}

{% block head_js %}
    {{ super() }}
    {% if g.error_id %}
    <script
    src="https://browser.sentry-cdn.com/7.7.0/bundle.min.js"
    integrity="sha384-zVycKakbFST6m0pi9RFIAnb5nw7mrA1n/mE4C8grImB4B6iqCp/0LHOcTIu9AI7+"
    crossorigin="anonymous"
    ></script>
    {% endif %}

    <script src="https://unpkg.com/htmx.org@1.8.0" integrity="sha384-cZuAZ+ZbwkNRnrKi05G/fjBX+azI9DNOkNYysZ0I/X5ZFgsmMiBXgDZof30F5ofc" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/htmx.org@1.8.0/dist/ext/sse.js" crossorigin="anonymous"></script>

{% endblock %}

{%block tail_js%}
    {{super()}}

    {% if config.ENABLE_KIOSK and (session.get('keyboard')==True) %}
    <script src="{{url_for('kiosk.static', filename='kioskboard-aio-2.2.0.min.js')}}"></script>
    <script>
        var kiosk_json = {{kioskboard()|safe}};
        KioskBoard.run('input', {keysArrayOfObjects: kiosk_json, capsLockActive: false, autoScroll:false, allowRealKeyboard: true, allowMobileKeyboard: true, keysJsonUrl: null});
    </script>
    {% endif %}

   {% if g.error_id %}
    <script>
    Sentry.init({ dsn: "{{config.SENTRY_DSN}}" });
    Sentry.showReportDialog({ eventId: "{{ g.error_id }}" {%if g.user%}, user: {name:"{{g.user.first_name}} {{g.user.last_name}}",email:"{{g.user.email}}"} }{%endif%});
    </script>

    {% endif %}
{%endblock %}