{% if not htmx %}{% extends config.FAB_BASE_TEMPLATE %}{% endif %}
{% block content%}
<div class="panel panel-primary" hx-get="{{url_for(request.endpoint)}}" hx-swap="outerHTML" hx-trigger="every {{config.UI_EVERY_S}}s">
    {% if title %}
    <div class="panel-heading">
        <h4 class="panel-title">{{title}}</h4>
    </div>
    {% endif %}
    <div class="panel-body">

        <div>

            <div class="table-responsive">
                <table class="table table-bordered table-hover">

                    <thead>
                        <tr>
                            
                            {% for c in ['Name','Game','Latest Cashout', 'Deposit | Reprint' if config.ENABLE_REMOTE_CREDITS else 'Reprint','Edit'] %}
                            <th>{{c}}</th>
                            {% endfor %}
                        </tr>
                    </thead>

                    <tbody>
                        {% for m in q(Machine).order_by(Machine.name.asc()).all() if m.role != 'POS'%}
                        <tr>

                            <td><a href="{{url_for('TransactionGeneralView.display',_flt_0_machine=m.id)}}">{{m.name}}</a></td>
                            <td>{{m.hostname}} {{m.role}}</td>
                            
                            {% with latest = q(Transaction).filter(Transaction.machine_id==m.id,Transaction.amount < 0).order_by(Transaction.created_at.desc()).limit(1).first() %}
                            <td>
                    
                                {% if not latest %}
                                    None
                                {% else %}
                                    {% if latest.amount > 0 %}
                                    <a href="{{url_for('TransactionGeneralView.show',pk=latest.id)}}" class="btn btn-primary btn-lg" role="button">
                                        {{latest.amount|cents_to_dollars}}
                                    </a>
                                    {% elif latest.amount < 0 %}
                                    <a href="{{url_for('TransactionGeneralView.show',pk=latest.id)}}" class="btn btn-danger btn-lg" role="button">
                                        {{latest.amount|cents_to_dollars}}
                                    </a>
                                    {% else %}
                                        {{latest.amount}}
                                    {%endif%}
                                    at {{latest.created_at|utc_to_local}}
                                {% endif %}
                            </td>
                            <td>
                                {% if config.ENABLE_REMOTE_CREDITS %}
                                <a href="{{url_for('AddCashView.this_form_post',id=m.id)}}" class="btn btn-primary btn-lg" role="button">
                                    <i class="fa fa-dollar"></i> 
                                    Deposit
                                </a>
                                {% endif %}
                                {% if latest and latest.id %}
                                 <form method="POST" action="{{url_for('TransactionGeneralView.action_post')}}">
                                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                                    <input type="hidden" name="action" value="print">
                                    <input type="hidden" name="rowid" value="{{latest.id}}" />
                                    <button type="submit" class="btn-lg btn-danger">
                                    <i class="fa fa-print"></i> Reprint
                                    </button>
                                </form>
                                {% endif %}
                            </td>
                            {% endwith %}

                            <td>
                                    <div class="btn-group btn-group-lg" style="display: flex;">
                                        <a href="{{url_for('MachineGeneralView.edit',pk=m.id)}}" class="btn btn-sm btn-default" data-toggle="tooltip" rel="tooltip" title="" data-original-title="Edit record">
                                            <span class="sr-only">Edit</span>
                                            <i class="fa fa-edit"></i>
                                        </a>
                                    </div>
                            </td>
                        </tr>
                        {% endfor %} {# machines #}
                    </tbody>

                </table>
            </div>

        </div>

    </div>
</div>
{% endblock %}