{% if not htmx %}{% extends config.FAB_BASE_TEMPLATE %}{% endif %} 

{% block content%}
<div class="panel panel-primary" hx-get="{{request.url}}" hx-swap="outerHTML" hx-trigger="every {{config.UI_EVERY_S}}s">
    {% if title %}
    <div class="panel-heading">
        <h4 class="panel-title">{{title}} ({{count}})
        {% for l in view.panel_links %}
        <a style="float: right;" class="btn btn-sm btn-default" data-toggle="tooltip" rel="tooltip" title="{{l.title}}" data-original-title="{{l.title}}" href="{{l.url()}}">
            <i class="{{l.icon}}"></i>
            <span class="">{{l.title}}</span>
        </a>
        {% endfor %}
    </h4>
    </div>
    {% endif %}
    <div class="panel-body">
        <div>
            <div class="table-responsive">
                <table class="table table-bordered table-hover">

                    <thead>
                        <tr>
                            {% for c in 
                                (['Actions'] if view.actions else [])
                                + (['Links'] if view.links else [])
                                + view.list_columns
                            %}
                            <th>{{c|title}}</th>
                            {% endfor %}
                        </tr>
                    </thead>

                    <tbody>
                        {% for t in items %}
                        <tr>
                                {% if view.actions|count %}
                            <td>

                                {% for name,action in view.actions.items() %}
                                    <form method="POST" action="{{ url_for(view.blueprint.name + '.action_post') }}">
                                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                                        <input type="hidden" name="action" value="{{name}}">
                                        <input type="hidden" name="rowid" value="{{t.id}}" />
                                        <button type="submit" class="btn-lg btn-info">
                                            {%if action.icon%}<i class="fa {{action.icon}}"></i>{%endif%} {{action.text}}
                                        </button>
                                    </form>
                                {%endfor%}
                            </td>
                                {% endif %}
                                {% if view.links %}
                                <td>
                                    {% for l in view.links %}
                                    <div class="btn-group btn-group-lg" style="display: flex;">
                                        <a href="{{l.url(t.get(view.datamodel.get_pk_name()))}}" class="btn btn-sm btn-default" data-toggle="tooltip" rel="tooltip" title="{{l.description|default(l.title)}}" data-original-title="{{l.title}}">
                                            <span class="sr-only">{{l.title}}</span>
                                            <i class="{{l.icon}}"></i>
                                        </a>
                                    </div>
                                    {%endfor%}
                                </td>
                                {% endif %}
                            {% for col in view.list_columns %}
                            <td>
                                {% set formatter = view.formatters_columns.get(col) %}
                                {% set value = t.get(col) %}
                                {%if formatter%}{{formatter(value)}}{%else%}{{value}}{%endif%}
                            </td>
                            {% endfor %}
 
                        </tr>
                        {% endfor %} {# items #}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}