{% extends config.FAB_BASE_TEMPLATE %}

{% block navbar %}
{% if True or not current_user.is_anonymous %}
{{super()}}
{% endif %}
{% endblock %}

{% block content %}
{%if config.ROLE=='POS'%}
<div class="panel panel-primary" hx-get="{{url_for('MachineGeneralView.display')}}" hx-swap="outerHTML"
    hx-trigger="load"></div>
{% elif config.ROLE=='ONBOARDING' %}
<div class="panel panel-primary" hx-get="{{url_for('server.display')}}" hx-swap="outerHTML"
    hx-trigger="load"></div>
{% else %}
<div class="row justify-content-center align-items-center h-100">
    <table class="table table-bordered styled-table" style="border:1px solid black;margin-left:auto;margin-right:auto;">
        <thead>
            <tr>
                <th>Attribute</th>
                <th>Value</th>
            </tr>
        </thead>
        <tbody>
            {% for k,v in attributes() %}
            <tr {% if loop.index0 % 2 %}class="active-row" {% endif %}>
                <td>{{k}}</td>
                <td>{{v}}</td>
            </tr>
            {% endfor %}
            <!-- and so on... -->
        </tbody>
    </table>
</div>
{% endif %}
{% endblock %}
