{% if not htmx %}{% extends config.FAB_BASE_TEMPLATE %}{% endif %}

{% block container%}

{% block messages %}
{% endblock messages %}
<div class="container-fluid" hx-get="{{url_for(request.endpoint)}}" hx-swap="outerHTML" hx-trigger="every {{config.UI_EVERY_S}}s">

    <div class="panel panel-primary" >
        {% if title %}
        <div class="panel-heading">
            <h4 class="panel-title">{{title}}</h4>
        </div>
        {% endif %}
        <div class="panel-body">
            <div class="row">
                {% for m in q(Machine).order_by(Machine.name.asc()).all() if m.role != 'POS'%}

                <div class="col-md-4">
                    {% with latest = q(Transaction).filter(Transaction.machine_id==m.id,Transaction.amount < 0).order_by(Transaction.created_at.desc()).limit(1).first() %}


                        <div class="panel panel-default">
                            <div class="panel-heading">
                         
                                {% if not latest %}
                                None
                                {% else %}
                                    {% if latest.amount > 0 %}
                                    <a href="{{url_for('TransactionGeneralView.show',pk=latest.id)}}"
                                        class="btn btn-primary btn-lg" role="button">
                                        {{latest.amount|cents_to_dollars}}
                                    </a>
                                    {% elif latest.amount < 0 %} 
                                    <a
                                        href="{{url_for('TransactionGeneralView.show',pk=latest.id)}}"
                                        class="btn btn-danger btn-lg" role="button">
                                        {{latest.amount|cents_to_dollars}}
                                    </a>
                                    {% else %}
                                        {{latest.amount}}
                                    {%endif%}
                                {% endif %}
                            </div>
                            <div class="panel-body">
                                <h3 class="panel-title"><a
                                    href="{{url_for('TransactionGeneralView.display',_flt_0_machine=m.id)}}">{{m.name}}</a>
                                </h3>
                            </div>
                            <div class="panel-footer">
                                <div class="btn-group btn-group-lg" style="display: flex;">

                                    {% if latest and latest.id %}
                                    <form method="POST" action="{{url_for('TransactionGeneralView.action_post')}}">
                                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                                        <input type="hidden" name="action" value="print">
                                        <input type="hidden" name="rowid" value="{{latest.id}}" />
                                        <button type="submit" class="btn-lg btn-danger">
                                            <i class="fa fa-print"></i> Reprint
                                        </button>
                                    </form>
                                    {% endif %}

                                    {% if config.ENABLE_REMOTE_CREDITS %}
                                    <a href="{{url_for('AddCashView.this_form_post',id=m.id)}}"
                                        class="btn btn-primary btn-lg" role="button">
                                        <i class="fa fa-dollar"></i>
                                        Deposit
                                    </a>
                                    {% endif %}
                                    {% if False %}
                                    <a href="{{url_for('MachineGeneralView.edit',pk=m.id)}}" class="btn btn-sm btn-default"
                                        data-toggle="tooltip" rel="tooltip" title="" data-original-title="Edit record">
                                        <span class="sr-only">Edit</span>
                                        <i class="fa fa-edit"></i>
                                    </a>
                                    {% endif %}
                                </div>
                                Update at {{latest.created_at|utc_to_local}}

                            </div>
                        </div>
                        {% endwith %}

                </div>
                {% endfor %} {# machines #}
            </div>
        </div>
    </div>
</div>

{% endblock container %}