{%if not htmx%}{%extends config.FAB_BASE_TEMPLATE%}{%endif%}

{%block content%}

<div class="container-fluid h-100">
    <div class="row justify-content-center align-items-center h-100">
        <div>

            <table class="table table-bordered styled-table" style="border:1px solid black;margin-left:auto;margin-right:auto;">
                <thead>
                    <tr>
                        <th>Attribute</th>
                        <th>Value</th>
                    </tr>
                </thead>
                <tbody>
                    {% for k,v in attributes() %}
                    <tr {% if loop.index0 % 2 %}class="active-row" {% endif %}>
                        <td>{{k}}</td>
                        <td>{{v}}</td>
                    </tr>
                    {% endfor %}
                    <tr class="active-row">
                        <td>Change Role</td>
                        <td>
                            <form method="POST" action="{{ url_for('InstanceConfigView.edit',pk='ROLE') }}" hx-target="body">
                                <label for="name">Choose a Role:</label>
                                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                                <input type="hidden" id="name" name="name" value="ROLE">
                             <select id="value" name="value">
                                    {% for r in config.AVAILABLE_ROLES %}
                                    <option value="{{r}}" {% if r==config.ROLE %}selected{%endif%}>
                                        {{r}}
                                    </option>
                                    {% endfor %}
                                </select>
                                <input class="btn btn-primary" type="submit" value="submit">
                            </form>
                        </td>
                    </tr>
                    <tr class="active-row">
                        <td>Change Theme</td>
                        <td>
                            <form method="POST" action="{{ url_for('InstanceConfigView.edit',pk='APP_THEME') }}" hx-target="body">
                                <label for="name">Choose a Theme:</label>
                                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                                <input type="hidden" id="name" name="name" value="APP_THEME">
                             <select id="value" name="value">
                                    {% for r in config.AVAILABLE_THEMES %}
                                    <option value="{{r}}" {% if r==config.APP_THEME %}selected{%endif%}>
                                        {{r}}
                                    </option>
                                    {% endfor %}
                                </select>
                                <input class="btn btn-primary" type="submit" value="submit">
                            </form>
                        </td>
                    </tr>
                    <tr class="active-row">
                        <td>Change Hostname</td>
                        <td>
                            <form method="POST" action="{{ url_for('InstanceConfigView.edit',pk='HOSTNAME') }}" hx-target="body">
                                <label for="name">Change Hostname to:</label>
                                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                                <input type="hidden" id="name" name="name" value="HOSTNAME">
                                <input id="value" name="value" value="{{ config.HOSTNAME }}">
                                <input class="btn btn-primary" type="submit" value="submit">
                            </form>
                        </td>
                    </tr>
                    <tr class="active-row">
                        <td>Restart Device</td>
                        <td>
                            <a href="{{ url_for('server.shutdown') }}">Press Here to Restart!</a>
                        </td>
                    </tr>
                    {% with errors = get_flashed_messages(category_filter=["error"]) %}
                    {% if errors %}
                    {%- for msg in errors %}
                    <tr class="active-row">
                        <td>IMPORTANT: </td>
                        <td>
                            {{ msg }}
                        </td>
                    </tr>
                    {% endfor -%}
                    {% endif %}
                    {% endwith %}
                    <!-- and so on... -->
                </tbody>
            </table>

        </div>

    </div>
</div>
{%endblock%}
