{% if not htmx %}{% extends config.FAB_BASE_TEMPLATE %}{% endif %} 

{% block content%}
<div class="panel panel-primary" {%if False%} hx-get="{{url_for(request.endpoint)}}" hx-swap="outerHTML" hx-trigger="every {{config.UI_EVERY_S}}s"{%endif%}>
    {% if title %}
    <div class="panel-heading">
        <h4 class="panel-title">Replicas ({{replicas|count}})
        <a style="float: right;" class="btn btn-sm btn-default" data-toggle="tooltip" rel="tooltip" title="" data-original-title="View" href="/refresh">
            <i class="fa fa-restart"></i>
            <span class="">Refresh</span>
        </a>
    </h4>
    </div>
    {% endif %}
    <div class="panel-body">
        <div>
            <div class="table-responsive">
                <table class="table table-bordered table-hover">

                    <thead>
                        <tr>
                            {% for c in ['ID','Use']%}
                            <th>{{c}}</th>
                            {% endfor %}
                        </tr>
                    </thead>

                    <tbody>
                        {% for r in replicas %}
                        <tr>
                            <td>{{r}}</td>
                            <td><div>
                                {% if r != config.HOST_ID %}
                                    <a target="_blank" href="{{url_for('.set',name=r)}}" class="btn btn-sm btn-default" data-toggle="tooltip" rel="tooltip" title="" data-original-title="Use">
                                        <span class="sr-only">Use</span>
                                        <i class="fa fa-print"></i>
                                    </a>
                                {% else %} (This DB)
                                {% endif %}
                                </div>
                            </td>
                        </tr>
                        {% endfor %} {# items #}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}