{% if not htmx %}{% extends config.FAB_BASE_TEMPLATE %}{% endif %} 

{% block content%}
{% set start,end = report.get_range() %}
<div class="panel panel-primary" hx-get="{{request.url}}" hx-swap="outerHTML" hx-trigger="every {{config.UI_EVERY_S}}s">
    <div class="panel-heading">
        <h4 class="panel-title">Game Summary from {{start|utc_to_local}} to {{end|utc_to_local}}
        <a style="float: right;" class="btn btn-sm btn-default" data-toggle="tooltip" rel="tooltip" title="" data-original-title="View" href="{{url_for('ReportsView.new')}}">
            <i class="fa fa-plus"></i>
            <span class="">Clear Report Period</span>
        </a>
        </h4>
    </div>
    <div class="panel-body">
        <div>
            <div class="table-responsive">
                <table class="table table-bordered table-hover">

                    <thead>
                        <tr>
                            {% for c in ['Machine','Total In','Total Out','Net']%}
                            <th>{{c}}</th>
                            {% endfor %}
                        </tr>
                    </thead>

                    <tbody>
                        {% set machines_summary = report.summary() %}
                        {% for machine_id, summary in machines_summary.items() %}
                        <tr>
                            <td><a href="{{url_for('.transactions',report=report.id,machine=machine_id)}}">{{summary.name}}</a> ({{summary.role}})</td>
                            <td>{{summary.total_cred_in|cents_to_dollars}} {%if config.DEBUG%} ({{summary.count_cin}}){%endif%}</td>
                            <td>{{summary.total_cred_out|cents_to_dollars}} {%if config.DEBUG%} ({{summary.count_cout}}){%endif%}</td>
                            <td>{{summary.net_credit|cents_to_dollars}} {%if config.DEBUG%}({{summary.count_cin + summary.count_cout}}){%endif%}</td>
                        </tr>
                        {% endfor %} {# items #}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}