{% if not htmx %}{% extends config.FAB_BASE_TEMPLATE %}{% endif %} 

{% block content%}
{% set since = Report.last_report_time() %}
{% set transactions = q(Transaction).filter(Transaction.created_at > since).order_by(Transaction.created_at.desc()).all() %}
<div class="panel panel-primary" hx-get="{{url_for(request.endpoint)}}" hx-swap="outerHTML" hx-trigger="every {{config.UI_EVERY_S}}s">
    {% if title %}
    <div class="panel-heading">
        <h4 class="panel-title">{{title}} ({{transactions|count}}) for this {{config.ROLE}} since {{since|utc_to_local}}</h4>
    </div>
    {% endif %}
    <div class="panel-body">
        <div>
            <div class="table-responsive">
                <table class="table table-bordered table-hover">

                    <thead>
                        <tr>
                            {% for c in ['Amount','Game', 'Created At','View','Print']%}
                            <th>{{c}}</th>
                            {% endfor %}
                        </tr>
                    </thead>

                    <tbody>
                        {% for t in transactions%}
                        <tr>
                            <td>{{t.amount|cents_to_dollars}}</td>
                            <td>{{t.machine_id}})</td>
                            <td><a href="{{url_for('TransactionGeneralView.show',pk=t.id)}}">{{t.created_at|utc_to_local}}</a></td>
                            <td>
                                <div class="btn-group btn-group-lg" style="display: flex;">
                                    <a href="{{url_for('TransactionGeneralView.action',name='view',pk=t.id)}}" class="btn btn-sm btn-default" data-toggle="tooltip" rel="tooltip" title="" data-original-title="View">
                                        <span class="sr-only">View</span>
                                        <i class="fa fa-search"></i>
                                    </a>
                                </div>
                            </td>
                            <td><div>
                                    <a href="{{url_for('TransactionGeneralView.action',name='print',pk=t.id)}}" class="btn btn-sm btn-default" data-toggle="tooltip" rel="tooltip" title="" data-original-title="Print">
                                        <span class="sr-only">Print</span>
                                        <i class="fa fa-print"></i>
                                    </a>
                                </div>
                            </td>
                        </tr>
                        {% endfor %} {# items #}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}