{% extends 'wifi/index.html' %}
{% block meta %}
<meta http-equiv="Refresh" content="{{ redirect_interval }}; url={{ redirect_url }}" />
{% endblock %}   


{% block body %}
<div class="text-center mb-4">
<!--         <img class="mb-4" src="https://getbootstrap.com/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
-->
<h1 class="h3 mb-3 font-weight-normal">WiFi Connection</h1>
{% if message %}<p>{{ message|safe }}</p>{% endif %}
</div>

{% endblock body %}
