
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    {% block meta %}
    {% endblock %}

    <title>WiFi Connection</title>

    <!-- Bootstrap core CSS -->
    <link href="{{url_for('wifi.static',filename='bootstrap.min.css')}}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{url_for('wifi.static',filename='floating-labels.css')}}" rel="stylesheet">
  </head>

  <body>
      {% block body %}
    <form class="form-signin" action="{{url_for('.connect')}}" method="POST">
      <div class="text-center mb-4">
<!--         <img class="mb-4" src="https://getbootstrap.com/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
 -->
       <h1 class="h3 mb-3 font-weight-normal">WiFi Connection</h1>
        {% if message %}<p>{{ message|safe }}</p>{% endif %}
      </div>

      <div class="form-group">
        <label for="inputSSID">SSID</label>
        <select class="form-control" id="inputSSID" name="ssid">
          {% for s in ssids %}
          <option>{{ s }}</option>
          {% endfor %}
        </select>
      </div>

      <div class="form-label-group">
        <input id="inputPassword" autocorrect="off" autocapitalize="none" pattern=".{0}|.{8,}" name="password" class="form-control" placeholder="SSID Password" required>
        <label for="inputPassword">Password</label>
      </div>

      <button class="btn btn-lg btn-primary btn-block" type="submit">Connect</button>
    </form>
    {% endblock %}
  </body>
