
     {{MACHINE_NAME}}
____________________________
     Valid for no More 
     than  USD 5.00 in 
     Store Credit
____________________________
  This Voucher is Good For:
     Amount : {{AMOUNT|cents_to_dollars(positive=True)}}
   Redeemable at this 
     location Only
____________________________
 {{DATE|utc_to_local}}
 {{ID}}
     ***[Duplicate]***	   



