{%set start,end = report.get_range() %}
Current Time: 
{{now|utc_to_local}}
{%if start|utc_to_local != 'Beginning'-%}
Report Starts at:
{{start|utc_to_local}} 
{%-endif%}
Report Ends (Last Cleared) at: 
{{end|utc_to_local}}
{%- for name,machine in report.summary().items()|sort(attribute='1.name') %}
---------------------------
{{machine.name}} ({{machine.role}})

Credits in  =>  {{machine.total_cred_in|cents_to_dollars}} 
Credits out =>  {{machine.total_cred_out|cents_to_dollars}} 
Net         =>  {{machine.net_credit|cents_to_dollars}} 

{%- endfor %}
==============

Total IN: {{report.cashins()|cents_to_dollars}}
Total OUT: {{report.cashouts()|cents_to_dollars(positive=True)}}
Total NET: {{report.amount()|cents_to_dollars}}

{{report.id}}