<!DOCTYPE html>
<html>

    <script>

    </script>
    
<body>

    <h1>Getting server updates</h1>
    <div id="result"></div>

    <script>
        if (typeof (EventSource) !== "undefined") {

            console.log('here');
            const source = new EventSource('{{url_for(".listen")}}');
            source.onopen = (e) => console.log('Connection requested');
            source.onmessage = (msg) => console.log(msg.data);

            source.onmessage = function (event) {
                document.getElementById("result").innerHTML += event.data + "<br>";
            };
        } else {
            document.getElementById("result").innerHTML = "Sorry, your browser does not support server-sent events...";
        }
    </script>

</body>

</html>