{% macro sse_table(endpoint='sse.listen') %}
<style>
    .styled-table {
        border-collapse: collapse;
        margin: 25px 0;
        font-size: 0.9em;
        font-family: sans-serif;
        min-width: 400px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    }

    .styled-table thead tr {
        background-color: #009879;
        color: #ffffff;
        text-align: left;
    }

    .styled-table th,
    .styled-table td {
        padding: 12px 15px;
    }

    .styled-table tbody tr {
        border-bottom: 1px solid #dddddd;
    }

    .styled-table tbody tr:nth-of-type(even) {
        background-color: #f3f3f3;
    }

    .styled-table tbody tr:last-of-type {
        border-bottom: 2px solid #009879;
    }

    .styled-table tbody tr.active-row {
        font-weight: bold;
        color: #009879;
    }

    div.wrapper {
        overflow: hidden;
        overflow-y: scroll;
        height: 500px;
    }
</style>

<script>
    function notifyMe() {
        console.log("Sending notification");
        // Let's check if the browser supports notifications
        if (!("Notification" in window)) {
            alert("This browser does not support desktop notification");
        }

        // Let's check whether notification permissions have already been granted
        else if (Notification.permission === "granted") {
            // If it's okay let's create a notification
            var notification = new Notification("Notifications Enabled!");
        }

        // Otherwise, we need to ask the user for permission
        else if (Notification.permission !== "denied") {
            Notification.requestPermission().then(function (permission) {
                // If the user accepts, let's create a notification
                if (permission === "granted") {
                    var notification = new Notification("Notifications Enabled!");
                }
            });
        }

        // At last, if the user has denied notifications, and you
        // want to be respectful there is no need to bother them any more.
    }
</script>

<button onclick="notifyMe()">Notify me!</button>

<div class="container-fluid h-100">
    <div class="row justify-content-center align-items-center h-100">
        <div class="wrapper col col-sm-6 col-md-6 col-lg-4 col-xl-3">

            <table class="styled-table" style="border:1px solid black;margin-left:auto;margin-right:auto;">
                <thead>
                    <tr>
                        <th>Event</th>
                        <th>Data</th>
                    </tr>
                </thead>
                <tbody id="result">
                </tbody>
            </table>
        </div>
    </div>
</div>
<script>
    if (typeof (EventSource) !== "undefined") {
        const source = new EventSource('{{url_for(endpoint)}}');
        source.onopen = (e) => console.log('Connection requested');
        source.onmessage = (msg) => console.log(msg.data);

        source.onmessage = function (event) {
            json_parsed = JSON.parse(event.data)
            document.getElementById("result").innerHTML += "<tr>";
            for (var name in json_parsed) {
                console.log(name + "=" + json_parsed[name]);
                document.getElementById("result").innerHTML += "<td>" + name + "</td><td>" + JSON.stringify(json_parsed[name]) + "</td>";
            }
            document.getElementById("result").innerHTML += "</tr>";
            document.getElementById("result").innerHTML += "<tr><td>Event</td><td>" + JSON.stringify(json_parsed) + "</td></tr>";
            var notification = new Notification(JSON.stringify(json_parsed));

        };
    } else {
        document.getElementById("result").innerHTML = "Sorry, your browser does not support server-sent events...";
    }
</script>
{% endmacro %}

<html>

<body>

    {{ sse_table() }}
</body>

</html>
